/* Global */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body {
  font-family: 'Roboto Mono' monospace;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../assets/Cover.png');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}
/* /Global */

/* Header */

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/*  Primera secci贸n */
header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

.icono-github {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
/*  /Primera secci贸n */

/* Segunda secci贸n */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  color: white;
  border-bottom: 1px solid white;
}
/* /Segunda secci贸n */

/* / Header */

/* Main */

.section-main {
  width: auto;
  height: 100%;
  text-align: center;
  margin-top: 150px;
}

.section-main p {
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  font-family: 'Roboto Mono', monospace;
}

.section-main-button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  background: #47cfac;
  border: 0;
  width: 110px;
  height: 50px;
  cursor: pointer;
}

/* /Main */
